<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Student Profile</title>
</head>
<body>
  <!------------------------------------------------HEADER-->
  <%- include('_header') %>
  <!--------------------------------------------------HEADER-->
  <h1>Student Profile</h1>
  <div class="container">
    <div class="box">
      <div class="photo">
        <img src="/images/student_1.png" alt="Profile Photo">
      </div>
      <div class="name">
        <strong>Name: </strong><%= student.name %>
      </div>
      <div class="level">
        <strong>Level: </strong><%= student.level %>
      </div>
      <div class="email">
        <strong>Email: </strong><%= student.email %>
      </div>
      <div class="occupation">
        <strong>Occupation: </strong><%= student.occupation %>
      </div>
      <div class="phone">
        <strong>Phone: </strong><%= student.phone_number %>
      </div>
      <div class="address">
        <strong>Address:</strong>
        <div class="address-line1"><%= student.address_line1 %></div>
        <div class="address-line2"><%= student.address_line2 %></div>
        <div class="address-zip"><%= student.address_zip %></div>
      </div>
      <div class="edit-profile">
        <button type="button" onclick="toggleEdit()">Edit Profile</button>
      </div>
    </div>
  </div>
</body>
</html>